@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

@font-face {
  font-family: "Iransans";
  src: url(../fonts/IranSans.woff) format("woff"), url(../fonts/IranSans.woff) format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #e5a1a1;
  --secondary-color: #ffcccc;
  --black-color: #000000;
  --body-color: #f7f7f7;
  --white-color: #ffffff;
  --border-color: #d9ddf2;
  --text-color: #333;
  --title-color: #222;

  --ff-Iransans: "Iransans", Tahoma, Helvetica, sans-serif;

  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;

  --fs-xl: 2rem;
  --fs-lg: 1.25rem;
  --fs-md: 0.975rem;
  --fs-sm: 0.75rem;

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;

  --zi-soft: 10;
  --zi-hard: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --fs-xl: 2.5rem;
    --fs-lg: 1.75rem;
    --fs-md: 1rem;
    --fs-sm: 0.85rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--ff-Iransans);
  font-size: var(--fs-md);
}

body.active .dropdown__overlay {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
select,
option {
  border: none;
  outline: none;
  font-family: var(--ff-Iransans);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* utils */
.container {
  padding-inline: var(--space-2);
  margin-inline: auto;
}

@media screen and (min-width: 512px) {
  .container {
    width: 100%;
    max-width: 1100px;
    margin-inline: auto;
  }
}

.swiper-pagination-bullet {
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  width: var(--space-2);
  height: var(--space-1);
  background-color: var(--black-color);
}

.button {
  display: inline-block;
  background-color: var(--text-color);
  color: var(--white-color);
  font-weight: var(--fw-semi-bold);
  padding: 1rem 1.5rem;
  margin-top: var(--space-1);
  transition: box-shadow 0.4s;
}

.button:hover {
  box-shadow: 0 4px 32px hsla(230, 72%, 32%, 0.4);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--body-color);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(230, 16%, 55%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(230, 16%, 40%);
}

/*=============== SCROLL UP ===============*/
.scrollup,
.phone {
  position: fixed;
  right: 1rem;
  bottom: -100%;
  background-color: var(--white-color);
  color: var(--title-color);
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.1);
  display: inline-flex;
  padding: var(--space-1);
  font-size: 1.25rem;
  color: var(--title-color);
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
}

.phone {
  bottom: var(--space-3);
  right: initial;
  left: 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.scrollup:hover {
  transform: translateY(-0.5rem);
}

/* Show Scroll Up */
.scrollup.active {
  bottom: var(--space-3);
}

/* tab */

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-3);
}

.tab button {
  display: inline-flex;
  justify-content: center;
  min-width: 64px;
  padding: var(--space-1);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
}

.tab button:hover,
.tab button.active {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.tab-content {
  display: none;
  padding: var(--space-2);
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

.tablinks i {
  margin-left: var(--space-1);
}

/* breadcrumb */
.breadcrumb {
  margin-bottom: var(--space-3);
}

.breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1);
}

.breadcrumb__item:not(:last-child)::after {
  content: ">";
  font-size: 0.75rem;
}

.breadcrumb__item:last-child {
  font-size: 0.75rem;
  padding-inline: var(--space-1);
  color: var(--text-color);
  margin-top: 0.2rem;
}

.breadcrumb__link {
  display: inline-block;
  font-size: 0.75rem;
  color: #777;
  padding-inline: var(--space-1);
}

/* pagination */

.pagination {
  margin-block: var(--space-2);
}

.pagination__list {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.pagination__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: var(--text-color);
  transition: 0.4s;
}

.pagination__link:hover {
  background-color: var(--text-color);
  color: var(--white-color);
}

/* header and nav */

.header {
  padding-inline: var(--space-2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--zi-hard);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent);
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: var(--space-5);
}

.nav__toggle,
.nav__close {
  display: none;
}

.nav__link,
.nav__cta i {
  color: var(--white-color);
  transition: 0.4s;
}

.nav__link:hover,
.nav__cta i:hover {
  color: var(--primary-color);
}

.nav__cta {
  display: flex;
  gap: var(--space-2);
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__cta i {
  cursor: pointer;
}

.nav__cart {
  position: relative;
}

.nav__cart span {
  position: absolute;
  top: 0;
  left: -0.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.35rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  z-index: var(--zi-soft);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    padding-inline: var(--space-2);
    top: -100%;
    right: 0;
    width: 100%;
    transition: 0.4s;
    z-index: var(--zi-hard);
  }

  .nav__menu.active {
    top: var(--space-1);
  }

  .nav__close {
    position: absolute;
    top: var(--space-2);
    left: var(--space-4);
    display: block;
    color: var(--white-color);
    font-size: var(--fs-lg);
    cursor: pointer;
    transition: 0.4s;
  }

  .nav__close:hover {
    color: var(--primary-color);
  }

  .nav__list {
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.25));
    padding: var(--space-2);
    gap: var(--space-4);
    border-radius: var(--space-1);
    backdrop-filter: blur(0.25rem);
  }

  .nav__toggle {
    display: block;
    color: var(--white-color);
    font-size: var(--fs-lg);
    cursor: pointer;
  }
}

/* search */

.search {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: hsla(230, 12%, 96%, 0.6);
  backdrop-filter: blur(16px);
  padding: 8rem 1.5rem;
  transition: top 0.4s;
}

.search__form {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--white-color);
  border: 2px solid var(--border-color);
  padding-inline: 1rem;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--white-color);
  color: var(--text-color);
}

.search__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: var(--space-2);
  gap: var(--space-2);
}

.search__item {
  background-color: var(--primary-color);
  border: 1px solid var(--border-color);
  padding: var(--space-1);
  transition: opacity 0.4s;
}

.search__item:hover {
  opacity: 0.5;
}

.search__link {
  font-size: var(--fs-sm);
  color: var(--white-color);
}

.search__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

/* Show search */
.active {
  top: 0;
}

@media screen and (min-width: 576px) {
  .search__form,
  .search__list {
    width: 500px;
    margin-inline: auto;
  }

  .login__form {
    width: 400px;
    justify-self: center;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 4rem;
    left: 0;
    right: 0;
    margin-inline: auto;
  }
}

/* login */

.login {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  z-index: 100;
  background-color: hsla(230, 12%, 96%, 0.6);
  backdrop-filter: blur(16px);
  align-items: center;
  padding: 1.5rem;
  text-align: center;
  transition: top 0.4s;
}

.login__form {
  background-color: var(--white-color);
  padding: 2rem 1.5rem;
  border: 2px solid var(--border-color);
  row-gap: 1.25rem;
}

.login__title {
  font-size: var(--fs-md);
  margin-bottom: var(--space-3);
}

.login__group {
  row-gap: 1.25rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.login__input {
  width: 100%;
  background-color: var(--white-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  color: var(--text-color);
  text-align: left;
  direction: ltr;
}

.login__signup,
.login__forget {
  display: block;
  font-size: var(--small-font-size);
}

.login__signup {
  margin-bottom: 0.5rem;
}

.login__signup a {
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.login__forget {
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  width: 100%;
  cursor: pointer;
}

.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Show login */
.active {
  top: 0;
}

/* carousel */

.carousel {
  width: 100%;
  margin-bottom: 6rem;
}

.carousel__img {
  width: 100%;
  max-width: 100%;
}

.carousel__container {
  -webkit-mask-image: url(../imgs/resources/mask.svg);
  mask-image: url(../imgs/resources/mask.svg);
  -webkit-mask-repeat: no-repeat, no-repeat;
  mask-repeat: no-repeat, no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: bottom;
  mask-position: bottom;
}

.carousel__item img {
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* products */

.products__header h3 {
  display: flex;
  gap: var(--space-1);
  align-items: center;
  justify-content: center;
  font-size: var(--fs-lg);
  text-align: center;
  margin-bottom: var(--space-5);
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  padding: var(--space-2) var(--space-3);
  background-color: var(--white-color);
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.1), inset -2px -2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transition: 0.4s;
}

.products__item:hover {
  opacity: 0.75;
}

.products__title {
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin-block: var(--space-2);
  color: var(--black-color);
}

.products__price {
  font-size: var(--fs-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: var(--space-1);
}

.products__price span:first-child,
.item__price span:first-child {
  color: var(--black-color);
}

.products__price span:last-child,
.item__price span:last-child {
  color: #777;
  font-size: 0.75rem;
}

.products__price span:last-child b,
.item__price span:last-child b {
  display: inline-flex;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 0.25rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* category */

.category {
  margin-block: 6rem;
}

.category__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-4);
}

.category__item {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 0.25rem;
  box-shadow: inset 2px 2px 16px rgba(0, 0, 0, 0.1), inset -2px -2px 16px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.category__item:hover {
  background-color: var(--primary-color);
}

.category__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  width: 180px;
  height: 180px;
  color: var(--black-color);
}

.category__link i {
  font-size: 2.5rem;
}

.category__link h6 {
  font-weight: var(--fw-regular);
  font-size: 1.25rem;
}

@media screen and (max-width: 540px) {
  .category__link {
    width: 128px;
    height: 128px;
  }
}

/* banner */

.banner {
  margin-block: 6rem;
}

.banner__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-4);
}

.banner__item {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1), -2px -2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  overflow: hidden;
  transition: 0.4s;
}

.banner__item:hover {
  opacity: 0.75;
}

.banner__item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 520px) {
  .banner__list {
    grid-template-columns: 1fr;
  }
}

/* cart */

.cart {
  margin-block: 6rem;
}

.cart__data {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: start;
  min-height: 250px;
  gap: 1.5rem;
}

.cart__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  background-color: var(--white-color);
  padding: var(--space-2);
  color: var(--text-color);
}

.cart__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: #333;
  padding-block: 1rem;
}

.cart__img {
  width: 100%;
  max-width: 64px;
  border-radius: 4px;
}

.cart__next {
  background-color: var(--white-color);
  color: var(--text-color);
  padding: var(--space-2);
}

.cart__total {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5rem;
  font-size: 0.75rem;
  font-weight: 700;
}

.cart__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-inline: 0.25rem;
}

.cart__button:hover {
  background-color: #333;
  color: #fff;
}

.cart__button--block {
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
  padding: var(--space-2);
  background-color: #333;
  color: #fff;
}

.cart__button--block:hover {
  opacity: 0.75;
}

.cart__button--block i {
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .cart__data {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 560px) {
  .cart__data {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .cart__item:first-child {
    display: none;
  }

  .cart__item {
    grid-template-columns: 1fr 1fr;
  }
}

/* checkout */

.checkout {
  margin-block: 6rem;
}

.checkout__interaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
}

.checkout__data {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 1.5rem;
}

.checkout__title {
  font-size: var(--fs-lg);
  color: var(--title-color);
  margin-bottom: var(--space-3);
}

.checkout__item {
  display: flex;
  gap: 0.5rem;
}

.checkout__label {
  color: #666;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
}

.checkout__label--center {
  align-items: center;
}

.checkout__label i {
  font-size: 2.5rem;
}

.checkout__profile,
.checkout__method {
  background-color: var(--white-color);
  color: var(--text-color);
  padding: var(--space-3);
}

.checkout__button {
  display: inline-block;
  background-color: var(--text-color);
  color: #fff;
  padding: var(--space-2);
  transition: 0.3s;
}

.checkout__button:hover {
  opacity: 0.75;
}

.checkout__button--block {
  display: block;
  width: 100%;
}

.checkout__list {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

.checkout__item {
  color: #666;
  font-size: 0.75rem;
  margin-block: 1rem;
}

.checkout__purchase {
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
  color: #333;
}

@media screen and (min-width: 768px) {
  .checkout__data {
    grid-template-columns: 2fr 1fr;
  }
}

/* contact */

.contact__label {
  color: #666;
  font-size: 0.75rem;
}

.contact__group {
  margin-block: 0.5rem;
  max-width: 368px;
}

.contact_input,
select {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid #ccc;
  resize: none;
}

.contact__button {
  display: inline-block;
  background-color: var(--text-color);
  color: #fff;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.contact__button:hover {
  opacity: 0.75;
}

/* footer */

.footer__mask {
  -webkit-mask-image: url(../imgs/resources/mask-footer.svg);
  mask-image: url(../imgs/resources/mask-footer.svg);
  -webkit-mask-repeat: no-repeat, no-repeat;
  mask-repeat: no-repeat, no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: top;
  mask-position: top;
}

.footer__data {
  background-color: var(--black-color);
  color: var(--white-color);
  padding-block: var(--space-5);
}

.footer__services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-3);
  background-color: #262626;
  margin-block: var(--space-4);
}

.footer__services__item {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  padding: var(--space-2);
}

.footer__services__item i {
  color: var(--primary-color);
  font-size: var(--fs-lg);
}

.footer__services__item p {
  font-size: var(--fs-sm);
}

.footer__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-4);
}

.footer__item h5 {
  font-size: var(--fs-md);
  font-weight: var(--fw-semi-bold);
  margin-bottom: var(--space-2);
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.footer__link {
  color: #aaa;
  font-size: var(--fs-sm);
}

.footer__link:hover {
  color: var(--primary-color);
}

.footer__item p {
  color: #aaa;
  margin-bottom: var(--space-2);
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: var(--space-2);
}

.footer__social__link {
  font-size: var(--fs-md);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--border-color);
  color: var(--black-color);
  margin-top: var(--space-5);
  transition: 0.4s;
}

.footer__social__link:hover {
  background-color: var(--primary-color);
}

.footer__copyright {
  text-align: center;
  font-size: var(--fs-sm);
  color: #575757;
  padding-block: var(--space-2);
}

.footer__copyright a {
  color: var(--white-color);
}

.footer__copyright a:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .footer__info {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 560px) {
  .footer__info {
    grid-template-columns: 1fr;
  }
}
